* {
    box-sizing: border-box;
}

;

img {
    display: block;
    max-width: 100%;
}

body {
    margin: 0;
}

.contenedor {
    margin: auto;
    width: 98%;
}

/*-----------------Header Styless-----------------*/
.header {
    height: 60px;
}

