* {
    box-sizing: border-box;
}

;

img {
    display: block;
    max-width: 100%;
}

body {
    margin: 0;
}

.contenedor {
    margin: auto;
    width: 98%;
}

/*-----------------Header Styless-----------------*/
.header {
    height: 60px;
}

.header .contenedor {
    display: flex;
    justify-content: space-between;
}

.logo, .icon-menu {
    margin: 5px;
    color: white;
}

.icon-menu {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background: #384358;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
}

/*-----------------Estilos del menu-----------------*/
.nav {
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    transition: all 0.4s;
}
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__link {
    display: block;
    padding: 15px;
    background: #384358;
    text-decoration: none;
    color: white;
}
.menu__link:hover, .select {
    color: #384358;
}

.mostrar{
    left: 0;
}

/*----------Estilos de banner----------*/

.banner {
    margin-top: -60px;
    position: relative;
    z-index: -1000;
    margin-bottom: 10px;
}

.banner .contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    color: #384358;
    text-align: center;
}

.banner__txt {
    display: none;
}